@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
body {
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    background-repeat: no-repeat;
    height: 100vh;
    
    font-family: 'Gloria Hallelujah', sans-serif;
}

h1 {
    font-size: 45px;
    letter-spacing: 2px;
}

h3 {
    font-size: 25px;
    padding: 10px;
}


.container{
    /* background-color: yellow; */
    padding: 10px;
    text-align: center;
    display: grid;
    place-items: center;
}

.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }