html, body {
    margin: 10;
    padding: 10;
    color: white;
}

.container {
    width: 460px;
    background-color: black;
    margin: auto;
    padding: 20px;;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 420px;
    height: 420px;
    border: solid blueviolet;
    background-color: red;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot {
    background-color: white;
    border: 5px solid red;
    box-sizing: border-box;
}

.wall {
    background-color: mediumaquamarine;
    /* border: 1px solid blue; */
}

.power-pellet {
    
    background-color: violet;
    border-radius: 7.5px;
}

.pacman {
    background-color: gold;
    border-radius: 7.5px;
    border: none;
}

.blinky {
    background-image: url(./img/ghost-pacman-svgrepo-com.svg);
    background-color: #89FC00;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: none;
}

.pinky {
    background-image: url(./img/ghost-pacman-svgrepo-com.svg);
    background-color: pink;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: none;
}

.inky {
    background-image: url(./img/ghost-pacman-svgrepo-com.svg);
    background-color: aqua;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: none;
}

.clyde {
    background-image: url(./img/ghost-pacman-svgrepo-com.svg);
    background-color: orange;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: none;
}

.scared-ghost {
    background-color: paleturquoise;
    border: none;
}